  /* font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif; */


  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* header */
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .header-logo .logo-part {
    color: #2e2f42;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }

  .nav-link:focus,
  .nav-link:hover,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  /* hero */

  .page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-color: #2e2f42;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herofon.jpg);
      padding: 188px 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }


  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    display: block;
    margin: 0 auto;
    padding-bottom: 48px;
  }



  .button-hero {
    font-size: 16;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    font-family: inherit;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-hero:hover,
  .button-hero:focus {
    background-color: #404bbf;
  }

  /* section advantage */

  /* hide title */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-advantage {
    padding: 120px 0;
  }

  .advantage-list {
    display: flex;
    gap: 24px;
  }

  .advantage-item {
    width: calc((100% - 72px) / 4);
  }

  .advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

  }

  .title-advantage-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .text-advantage-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* section team */

  .page-team {
    background-color: #f4f4fd;
    padding: 120px 0;
  }

  .title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }



  .team-card {
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);

  }


  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
  }

  .text-team-card {
    padding: 32px 0;
  }

  .name-team-persons {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }

  .position-team-persons {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
  }

  .social-media-icon {
    display: flex;
    justify-content: center;
    gap: 24px;

  }

  .media-fon {
    width: 40px;
    height: 40px;

  }

  .link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-icon:hover, .link-icon:focus {
    background-color: #404bbf;
  }

  .media-icon {
    fill: #f4f4fd;

  }


  /* portfolio */

  .page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }


  .title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }

  .portfolio-item:hover .portfolio-cover-text {
    transform: translate(0);
  }

  .portfolio-cover {
    position: relative;
    overflow: hidden;
  }


 .portfolio-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  .review {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }


  .portfolio-titel-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* footer */

 .page-footer {
   background-color: #2e2f42;
   padding: 100px 0;
 }

.footer-container {
display: flex;
align-items: baseline;

}

.footer-discription {
margin-right: 120px;
}


  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

 

  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
  }

  .networks-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
  }

  .networks-list {
    display: flex;
    gap: 16px; 
  }

  .networks-item {
    width: 40px;
    height: 40px;   
  }

  .networks-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .networks-link:hover, .networks-link:focus {
    background-color: #31d0aa;
  }

  .footer-icon {
    fill:#f4f4fd;

  }

  /* Modal cont */


  .backdrope {
   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   z-index: 99999;

   background-color: rgba(46, 47, 66, 0.4);

   opacity: 0;
   visibility: hidden;
   pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .backdrope.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  }

  .modal {
   position: absolute;

   top: 50%;
   left: 50%;
   padding: 72px 24px 24px 24px;
   transform: translate(-50%, -50%);
  
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;

   width: 408px;
   min-height: 584px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .backdrope:not(.is-open) .modal {
transform: translate(-50%, -100%) scale(1.5);
    }

    .modal-close-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: 50%;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        fill: #2e2f42;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 24px;
        
    }


    .modal-close-btn:hover,
    .modal-close-btn:focus {
          background-color: #404bbf;
          fill: #fff;
          border: none;
        }

    .close-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 16px;
    }

    .form-wrapper-cont {
      margin-bottom: 8px;
    }
    .modal-form-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      display: block;
      margin-bottom: 4px;
    }

    .modal-cont-input {
      position: relative;
      display: flex;
    }

    .modal-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      padding-left: 38px;
      background-color: transparent;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input:focus {
      border-color: #4d5ae5;
    }

    .modal-icon {
     position: absolute;
     top: 50%;
     left: 16px;
     fill: #2e2f42;
     transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input:focus+.modal-icon {
      fill: #4d5ae5;
    }


    /* textarea */

    .form-wrapper-cont-comment {
     margin-bottom: 16px;
    }

    .modal-form-label {

    }

    .modal-textarea {
      width: 100%;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

     .modal-textarea:focus {
       border-color: #4d5ae5;
    }

        

.modal-con-checkbox {
  margin-bottom: 24px;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
    
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}



.checkbox:checked+.label-checkbox>.custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin: auto;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* subscribe form + sub btn */

.subscribe-form-container {
  margin-left: auto;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.form-label {
flex-grow: 1;
}

.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

}

.email-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}
